<div class="container">
    <section class="container-fluid hero d-flex justify-content-start align-items-center vh-100" id="top">
        <div class="container bg-transparent p-2">
          <h1 class="display-2 align-self-center text-uppercase title text-black">CRIPTOMONEDAS</h1>
          <p class="align-self-center fs-2">---</p>
          <p class="align-self-center fs-2">Para empezar, ingresa tu email:</p>
          <input type="text" class="form-control align-self-center fs-4 p-3" placeholder="cryptomail@fakemail.com" aria-label="tuemail" aria-describedby="addon-wrapping">
          <button type="button" class="btn btn-hero btn-primary btn-lg align-self-center p-3 fs-5">¡Únete ya a nuestra comunidad!</button>
        </div>
      </section>
</div>