<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary"  routerLink="/moneda">Ver lista de criptomonedas</button>
    <button type="button" class="btn btn-primary" routerLink="/portfolio">Ir a mi portfolio</button>
</div>
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Símbolo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Capitalización</th>
              <th scope="col">Enlaces</th>
              <th scope="col">Fecha de creación</th>
              <th scope="col">Valor en €</th>
            </tr>
          </thead>
          <tbody *ngFor="let moneda of detalle_moneda">
              
            <tr>
              <th><img src="{{ moneda.image }}" alt=""></th>
              <td>{{ moneda.name }}</td>
              <td>{{ moneda.symbol }}</td>
              <td>{{ moneda.description }}</td>
              <td>{{ moneda.links }}</td>
              <td>{{ moneda.genesis_date }}</td>
              <td>{{moneda.current_price}}</td>
         
            </tr>
          </tbody>
    </table>

</div>
