<div class="container">
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary"  routerLink="/moneda">Ver lista de criptomonedas</button>
    <button type="button" class="btn btn-primary" routerLink="/portfolio">Ir a mi portfolio</button>
</div>
<div *ngIf="ajax.loading">Loading...</div>
<div *ngIf="!ajax.loading">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Símbolo</th>
              <th scope="col">Descripción</th>
              <th scope="col">Web</th>
              <th scope="col">Github</th>
              <th scope="col">Twitter</th>
              <th scope="col">Fecha de creación</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><img src="{{ ajax.detallemoneda.image.large }}" alt=""></th>
              <td>{{ ajax.detallemoneda.name }}</td>
              <td>{{ ajax.detallemoneda.symbol }}</td>
              <td>
                <span v-if="ajax.detallemoneda && ajax.detallemoneda.description && ajax.detallemoneda.description.es">
                  {{ ajax.detallemoneda.description.es }}
                </span>
                <span v-else-if="ajax.detallemoneda && ajax.detallemoneda.description && ajax.detallemoneda.description.en">
                  {{ ajax.detallemoneda.description.en }}
                </span>
                <span v-else>
                  <!-- Si no hay descripción en español ni en inglés -->
                  Descripción no disponible
                </span>
              </td>
              <td>{{ ajax.detallemoneda.description.es }}</td>
              <td>{{ ajax.detallemoneda.links.homepage }}</td>
              <td>{{ ajax.detallemoneda.links.repos_url.github }}</td>
              <td>{{ ajax.detallemoneda.links.twitter_screen_name }}</td>
              <td>{{ ajax.detallemoneda.official_forum_url }}</td> 
              <td>{{ajax.detallemoneda.genesis_date}}</td>
              <td>{{ajax.detallemoneda.low_24h}}</td>
              
              descripción, links (web, redes sociales y Github), fecha en la que surgió y valor actual en euros.
            </tr>
          </tbody>
    </table>

</div>
