<div class="container">
    
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-primary" (click)="startConsulta()">Ver lista de criptomonedas</button>
        <button type="button" class="btn btn-primary" routerLink="/portfolio">Ir a mi portfolio</button>
    </div>
    <div *ngIf="ajax.loading">Loading...</div>
    <div *ngIf="!ajax.loading">
    <table class="table">
        <thead>
            <tr>
              <th scope="col">Imagen</th>
              <th scope="col">Nombre</th>
              <th scope="col">Símbolo</th>
              <th scope="col">Precio</th>
              <th scope="col">Capitalización</th>
              <th scope="col">Volumen</th>
              <th scope="col">Valor más alto en 24h</th>
              <th scope="col">Valor más bajo en 24h</th>
            </tr>
          </thead>
          
        <tbody *ngFor="let moneda of ajax.monedasAPI">
              
          <tr>
            <th><img src="{{ moneda.image }}" alt=""></th>
            <td>{{ moneda.name }}</td>
            <td>{{ moneda.symbol }}</td>
            <td>{{ moneda.current_price | currency: 'EUR'}}</td>
            <td>{{ moneda.market_cap | currency: 'EUR' }}</td>
            <td>{{ moneda.total_volume | currency: 'EUR' }}</td>
            <td>{{moneda.high_24h| currency: 'EUR'}}</td>
            <td>{{moneda.low_24h| currency: 'EUR'}}</td>
            <td><button type="button" class="btn btn-secondary" routerLink="/detalle" (click)="verDetalles(ajax.monedasAPI,moneda.id)">Ver detalles</button></td>
            <td><button type="button" class="btn btn-secondary" (click)="guardarMoneda(ajax.monedasAPI,moneda.id)">Guardar moneda</button></td>
          </tr>
        </tbody>
    </table>

    

    
</div>






